{% extends "base.html" %}

{% block content %}
    <h2>Лента записей</h2>
		<hr>
    {% for post in posts %}
        <article>
            <h3><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h3>
            <p><strong>Дата:</strong> {{ post.pub_date }}</p>
            <p>{{ post.text }}</p>
            <p>Слаг категории: {{ category.slug }}</p>
            <p>Местоположение: {{ location.name }}</p>
            <p>
                Категория: 
                {% if post.category %}
                    <a href="{% url 'category_posts' post.category.slug %}">{{ post.category.title }}</a>
                {% else %}
                    Без категории
                {% endif %}
            </p>
						<hr>
        </article>
    {% empty %}
        <p>Публикаций пока нет.</p>
    {% endfor %}
{% endblock %}

