{% extends "base.html" %}

{% block content %}
<h2>Комментарии ({{ post.comments.count }})</h2>

{% for comment in post.comments.all %}
  <div>
    <p><strong>{{ comment.author }}</strong>: {{ comment.text }}</p>
    <p><small>{{ comment.created_at }}</small></p>
    {% if comment.author == user %}
      <a href="{% url 'blog:edit_comment' post.id comment.id %}">Редактировать</a>
			<form action="{% url 'blog:delete_comment' comment.post.id comment.id %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Удалить</button>
      </form>
    {% endif %}
  </div>
{% empty %}
  <p>Комментариев пока нет.</p>
{% endfor %}

{% if user.is_authenticated %}
  <form method="post" action="{% url 'blog:add_comment' post.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
  </form>
	
{% else %}
  <p>Только зарегистрированные пользователи могут оставлять комментарии.</p>
{% endif %}
{% endblock %}
