<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
	<title>О нас</title>
</head>
<body>
	<header>
		<h1>Блогикум</h1>
		<nav>
			<a href="{% url 'index' %}">Лента записей</a>
			<a href="{% url 'about' %}">О проекте</a>
			<a href="{% url 'rules' %}" class="active">Наши правила</a>
		</nav>
	</header>

	<main class="container post">
		<h2>Наши правила</h2>
	</main>

	<footer>
		<hr>
		<p>&copy;Блогикум</p>
	</footer>
</body>
</html> -->